<h4>Home Page</h4>
<br>
<div class = 'create'>
<button>    
    <a [routerLink]="['/users/register']">
        Register
      </a>
</button>
</div>
<br>
<br>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fullname</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <td>
          <a [routerLink]="['/tasks/user', user.id]">
            {{ user.id }}
          </a></td>

      <td>{{ user.fullname }}</td>

    </tr>
    </tbody>
</table>
